<p id="notice"><%= notice %></p>

<p>
  <strong>Companyname:</strong>
  <%= @supplier.companyname %>
</p>

<p>
  <strong>Pointofcontact:</strong>
  <%= @supplier.pointofcontact %>
</p>

<p>
  <strong>Website:</strong>
  <%= @supplier.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @supplier.phone %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
