</br><%= form_for(subscription) do |f| %>
  <% if subscription.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>

      <ul>
      <% subscription.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer_id %></br>
    <%= f.select :customer_id, @customer_choice %>
  </div></br>

  <div class="field">
    <%= f.label :category_id %></br>
    <%= f.number_field :category_id %>
  </div></br>

  <div class="field">
    <%= f.label :subscribedate %></br>
    <%= f.date_select :subscribedate %>
  </div></br>

  <div class="field">
    <%= f.label :unsubscribedate %></br>
    <%= f.date_select :unsubscribedate %>
  </div></br>

  <div class="actions">
    <%= f.submit %>
  </div></br>
<% end %>
