<!DOCTYPE html>
<html>
  <head>
    <title>Divergent Development</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body bgcolor= #fff>
      <center>
          <table bgcolor='white' width='100%'>
              <tr><td><%= render "layouts/header" %></td></tr>
              <tr><td height='400' valign='top'><%= yield %></td></tr>
              <tr><td><%= render "layouts/footer" %></td> </tr>
          </table>
      </center>
  </body>
</html>
