<%= form_for(product) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :productname %></br>
    <%= f.text_field :productname %>
  </div></br>

  <div class="field">
    <%= f.label :homepage %></br>
	<%= f.check_box :homepage %>
  </div></br>

  <div class="field">
    <%= f.label :productimage %></br>
    <%= f.text_field :productimage %>
  </div></br>

  <div class="field">
    <%= f.label :description %></br>
    <%= f.text_area :description, :size=>"50x10" %>
  </div></br>

  <div class="field">
    <%= f.label :category_id %></br>
    <%= f.select :category_id, @category_choice %>
  </div></br>

  <div class="field">
    <%= f.label :supplier_id %></br>
    <%= f.select :supplier_id, @supplier_choice %>
  </div></br>

  <div class="field">
    <%= f.label :saleprice %></br>
    <%= f.text_field :saleprice %>
  </div></br>

  <div class="field">
    <%= f.label :status %></br>
    <%= f.select :status, "<option>Active</option> <option>Inactive</option>".html_safe %>
  </div></br>

  <div class="field">
    <%= f.label :purchaseprice %></br>
    <%= f.text_field :purchaseprice %>
  </div></br>

  <div class="field">
    <%= f.label :qtyonhand %></br>
    <%= f.number_field :qtyonhand %>
  </div></br>

  <div class="field">
    <%= f.label :reorderpoint %></br>
    <%= f.number_field :reorderpoint %>
  </div></br>

  <div class="field">
    <%= f.label :reorderqty %></br>
    <%= f.number_field :reorderqty %>
  </div></br>

  <div class="actions">
    <%= f.submit %>
  </div></br>
<% end %>
